.entry-content{
  width: 90%;
  margin-top: 100px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-family: Helvetica;
  font-weight: 300;
  color: #828585;
  text-align: justify;
}


.contactoscontent{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    align-self: center;
    justify-content: center;
}

.Contactos{
  padding: 50px;
  display: flex;
      max-width: 450px;
      flex-direction: column;
      align-items: center;
      margin: 20px;
}

.Contactos p{
  margin-top: 50px;
  font-family: Helvetica;
   color: #828585;
}

.Contactos h3{
  font-family: Helvetica;
  color: #95ca3e;
  margin-top: 20px;
}
