.block1{
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: 50px;
}

.block1 h1{
  font-family: Helvetica;
  font-weight: 700;
  color: #2e3333;
  padding-bottom: 50px;
}

.block1 p{
  font-family: Helvetica;
  font-weight: 300;
  color: #828585;
}

.blockimg{
text-align: center;
}

.applygeneral{
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 30px;
  background-color: #f9fafa;
}

.applygeneral a{
  text-decoration: none;
  background-color: #fff;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #eee;
  margin-bottom: 50px;
  display: flex;

}

.applytittle h2{
  font-style: 18px;
  color: #2e3333;
}

.applydes p{
  font-style: 14px;
  color: #828585;
}

.applygeneraltittle{
  padding: 20px;
}

.applygeneraltittle h1{
  font-family: Helvetica;
  font-weight: 700;
  color: #2e3333;
}

.applygeneraltittle p{
  font-style: 14px;
  color: #828585;
}

.noen{
width: 80%;
height: auto;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
margin-bottom: 50px;
color: #828585;
}

.mail{
  color: #95ca3e;
}


/* REVIEW: profesionales */


.empleoimg1{
  width: 100%;
  display: flex;
  margin-top: 50px;

}

.empeloimg{
  padding-top: 50px;
  width: 80%;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.empeloimg a{
  text-decoration: none;
  background-color:  #95ca3e;
  padding: 12px 24px;
  color: white;
  border-radius: 5px;
}

.empeloimg h1{
  padding-bottom: 50px;
  font-family: Helvetica;
  font-weight: 700;
  color: #2e3333;
}

.empleoimggeneral{
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    align-self: center;
    justify-content: center;
}

.empleoimg2{
  display: flex;
      max-width: 250px;
      flex-direction: column;
      align-items: center;
      margin: 20px;
}

.empleodes{
  font-weight: 700;
  color: #95ca3e;
  font-family: Helvetica;
  padding: 10px;
}

.empleoimg2 p{
  font-style: 14px;
  color: #828585;
}
