

.noencontradoimg{
  margin-top: 100px;
  margin-bottom: 100px;
  width: 400px;
}


.noencontradosec{
  text-align: center;
}


.noencontradodes{
  margin-bottom: 40px;
  color: #1c3643;
  font-family: Helvetica;
}
