.header{
    margin: 0;
    padding: 0;
}

.header{
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
  overflow: hidden;
  }

  .header1{
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
    overflow: hidden;
    }
  
  .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
  }
  
  .wave1{
    animation: animate 30s linear infinite;
    z-index: 30;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  
  .wave2{
    animation: animate1 10s linear infinite;
    z-index: 29;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  
  
  .wave3{
    animation: animate 05s linear infinite;
    z-index: 28;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  
  .wave4{
    animation: animate1 15s linear infinite;
    z-index: 27;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
  
  
  @keyframes animate{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
  }
  
  
  @keyframes animate1{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: -1000px;
    }
  }






.logo{
  margin-left: 2%;
  padding-top: 30px;
}

.headercontenedor{
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 200px;
  margin-bottom: 300px;

}



.headercontenedor p{
  color: white;
  font-family: Helvetica;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 50px;
}

.headercontenedor h1{
  margin-bottom: 50px;
  color: #FFFFFF;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 60px;

}


.headercontenedor a{
  width: 300px;
  position: relative;
  background-color: #35495E;
  border: none;
  color: #aaa;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  margin-bottom: 140px;
}



.headercontenedor a:hover {
  text-decoration: none;
  color: #aaa;
}




/* REVIEW: header 1 */



.titulodelencabezado{
  width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  text-align: center;
}

.titulodelencabezado h1{
  margin-bottom: 50px;
  color: #FFFFFF;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 60px;
}

.titulodelencabezado p{
  padding-bottom: 150px;
  color: #FFFFFF;
  font-family: Helvetica;
  font-weight: 300;
  font-size: 14px;
}


@media (max-width: 992px) {
  .titulodelencabezado h1 {
    font-size: 39px;
  }

  .titulodelencabezado p,
  .titulodelencabezado a {
    font-size: 18px;
  }
}


  @media (max-width: 680px) {
    .titulodelencabezado h1 {
      font-size: 39px;
    }

    .titulodelencabezado p,
    .titulodelencabezado a {
      font-size: 18px;
    }
  }



    @media (max-width: 480px) {
      .titulodelencabezado h1 {
        font-size: 39px;
      }

      .titulodelencabezado p,
      .titulodelencabezado a {
        font-size: 18px;
      }
    }


    /* REVIEW: header */


    @media (max-width: 992px) {

      .headercontenedor{
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        padding-top: 100px;
        margin-bottom: 300px;

      }

      .headercontenedor h1 {
        font-size: 39px;
      }

      .headercontenedor p,
      .headercontenedor a {
        font-size: 14px;
        color: white;
        font-family: Helvetica;
      }
    }


      @media (max-width: 680px) {


        .headercontenedor{
          width: 90%;
          height: auto;
          display: flex;
          flex-direction: column;
          margin-left: auto;
          margin-right: auto;
          text-align: left;
          padding-top: 100px;

        }


        .headercontenedor h1 {
          font-size: 39px;
        }

        .headercontenedor p,
        .headercontenedor a {
          font-size: 14px;
          color: white;
          font-family: Helvetica;

        }
      }



        @media (max-width: 480px) {

          .headercontenedor{
            width: 90%;
            height: auto;
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            text-align: left;
            padding-top: 100px;

          }

          .headercontenedor h1 {
            font-size: 39px;
          }

          .headercontenedor p,
          .headercontenedor a {
            font-size: 14px;
            color: white;
            font-family: Helvetica;
          }
        }
