.subscribeInput{
    width: 70%;
    background-color: #ffffff;
    padding-left: 20px;
    border: none;
    padding: 9px 18px;
    border:  1px solid #95CA3E;
}

.subscribeInputbotton{
    text-decoration: none;
    background-color: #95CA3E;
    color: #ffffff;
    width: 30%;
    border: none;
    padding: 10px 18px;


}

.subscribeInputbotton:hover{
  box-shadow: 0 1px 6px #95CA3E;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #C4C4C4;
  }
  .subscribeButton ::-moz-placeholder { /* Firefox 19+ */
    color: #C4C4C4;
  }
  .subscribeButton :-ms-input-placeholder { /* IE 10+ */
    color: #C4C4C4;
  }
  .subscribeButton :-moz-placeholder { /* Firefox 18- */
    color: #C4C4C4;
  }
  .subscribeButton p {
      margin-bottom: 0px !important;
  }
  .subscribeBgColor{

      background-color: #ffffff;
      padding-top: 40px;
      padding-bottom: 20px;
      border-top: 1px solid #95CA3E;

  }

  .bottomFooter{
    background-image: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
      padding: 25px;
  }


  .logoTitle{
    position: relative;
      color: #ffffff;
      top: 30px;


  }

  .mainLogo{
    width: 200px;
  }

  .logoTitle1{
    position: relative;
      color: #ccc;
      top: 25px;
      text-align: center;
      font-family: Helvetica;
      font-size: 11px;
  }

  .footerLabel{
      color: #95CA3E;

  }
  ul.footerLink{
    margin-left: 0;
    padding-left: 0;
    top: 20px;
  }
  ul.footerLink li{
    position: relative;
    list-style-type: none;
    color:#ffffff;
    top: 20px;

  }

  ul.footerLink li a{
    color:#d2d3d3;
  }

  .footerDropdown{
      border-color: #95CA3E;
      border-radius: 0;
      color: #ffffff;
  }

  .footerDropdown .btn:hover{
    color: #ffffff
  }

.subscribeText{
  color: #1C3643;
  font-family: Helvetica;
  font-size: 20px;

}

.dropdown-item{
  color: #1C3643;
  margin-left: 0px;
  margin-right: 5px;

}

.flag{
  margin-left: 0px;
  margin-right: 15px;
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .footerLabel{
      color: #95CA3E;
      margin-top: 50px;
      margin-bottom: 0px;

  }

  .subscribeInput{
      width: 70%;
      border-radius: 15px 0 0 15px;
      background-color: #ffffff;
      padding-left: 20px;
      border: none;
      box-shadow: 0 3px 18px #C4C4C4;
    }

    .subscribeInput{
      box-shadow: 0 3px 18px #C4C4C4;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {



}
