.quienes{
  width: 100%;
  display: flex;

}

.Quienes1{
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;

}

.Quienes1 h1{
  font-family: Helvetica;
  font-weight: 700;
  color: #2e3333;
}


.Quienes1 p{
  font-family: Helvetica;
  font-weight: 300;
  color: #828585;
}



.Quienes22{
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.Quienes4{
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.Quienes4 h1{
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Helvetica;
  font-weight: 700;
  color: #2e3333;
}


.Quienes222{
  display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    align-self: center;
    justify-content: center;
}

.Quienes5 p{
  font-family: Helvetica;
  font-weight: 300;
  color: #828585;
}

.Quienes5{
  text-align: justify;
  padding: 30px;
  display: flex;
      max-width: 350px;
      flex-direction: column;
      align-items: center;
      margin: 10px;

}

.Quienes5 img{
  padding: 5px;
}


.Quienes_1{
  text-align: center;
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 100px;
}

.Quienes_11{
width: 80%;
height: auto;
margin-left: auto;
margin-right: auto;
margin-top: 100px;
}

.Quienes_11 h1{
  font-family: Helvetica;
  font-weight: 700;
  color: #2e3333;
}

.Quienes_1 img{
  padding: 30px;

}
.Quienes_1{
font-family: Helvetica;
font-weight: 300;
color: #828585;
}
